* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

img {
    width: 200px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.header__section {
    width: 100%;
    min-height: 100vh;
    background-image: url(./image/eduford_img/pexels-adrian-.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    padding: 1.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav__item {
    flex: 1;
    text-align: right;
}

.nav__item ul li {
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav__item ul li a {
    color: #FFFF;
    font-size: 18px;
}

.nav__item ul li::after {
    content: "";
    width: 0;
    height: 3px;
    background: orangered;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav__item ul li:hover::after {
    width: 100%;
}
.text__box {
    width: 90%;
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text__box h1 {
 font-size: 62px;
 color: #EEEE;
 font-family: 'Poppins', sans-serif;
}
.text__box p{
    margin: 10px 0 5rem;
    color: #eeee;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}
.hero__button {
    display: inline-block;
    color: #FFF;
    border: 2px solid #FFFF;
    padding: 12px 2rem;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero__button:hover {
    border: 2px solid #F44336;
    background: #F44336;
    transition: 1s;
}
nav .bx {
    display: none;
}
@media(max-width:700px) {
    .text__box h1 {
        font-size: 20px;
        font-family: 'Poppins', sans-serif;
       }
       .nav__item ul li {
        display: block;
       }
       .nav__item {
        position: absolute;
        background: #F44336;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
       }
       nav .bx {
        display: block;
        color: #FFFF;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
       }
       .nav__item ul {
        padding: 2rem;
       }
}

/* COURSE   */
.course {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 5rem;
}
h1 {
    font-size: 36px;
    font-weight: 600;
}
p {
    color: rgba(129, 127, 127, 0.933);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.course__container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    
}
.course__box{
    /* border: 2px solid gray; */
    flex-basis: 31%;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 2rem 1rem;
    box-sizing: border-box;
    background-color: #EEEE;
    transition: 0.5s;
}
h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course__box:hover {
 box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}
@media(max-width:700px) {
    .course__container {
        flex-direction: column;
    }
}
/* CAMPUS    */
.campus {
    margin: auto;
    padding-top: 3rem;
    width: 80%;
    text-align: center;
}
.campus__container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.campus__box {
    flex-basis: 32%;
    border-radius: 5px;
    margin-bottom: 3rem;
    position: relative;
    overflow: hidden;
}
.campus__box img {
    width: 100%;
    display: block;
}
.image__title {
    background-color: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.image__title:hover {
    background-color: rgba(226, 0, 0, 0.7);
}
.campus__box h3 {
    width: 100%;
    font-size: 26px;
    font-weight: 500;
    color: #EEEE;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s ;
}
.campus__box:hover h3{
  bottom: 49%;
  opacity: 1;
}
@media(max-width:700px) {
    .campus__container {
        flex-direction: column;
    }
}

/* FACILITIES    */
.facilities {
    margin: auto;
    padding-top: 3rem;
    width: 80%;
    text-align: center;
}
.facilities__container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}
.facilities__box {
    flex-basis: 31%;
    border-radius: 5px;
    text-align: left; 
    margin-bottom: 5%;
}
.facilities__box img {
    width: 100%;
    border-radius: 5px;
}
.facilities__box h3 {
    margin: 1rem 0;
    text-align: left;
}
.facilities__box p {
    margin: 0;
    padding: 0;
}
@media(max-width:700px) {
    .facilities__container {
        flex-direction: column;
    }
}